.container {
    width: fit-content;
    position: relative;
}

.container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.seasons {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.seasons li {
    width: 100%;
    text-align: center;
    border-left: 1px solid rgb(157, 173, 189);
    color: grey;
}

.seasons li:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    color: black;
}

.dropdownContainer {
    position: absolute;
    top: 43px;
    background-color: white;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    z-index: 999;
}

.decade {
    display: flex;
}

.decade li {
    padding: 0.5rem;
    font-size: 16px;
    font-weight: bold;
}

.selectedSeason {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 26px;
    font-weight: 700;
    background-color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.selectedSeason:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}